//
// Typography
//

$font-size-root: 18px;
$font-size-base: 1rem;
$line-height-base: 1.5;

//
// Breakpoints
//

$xxs-viewport: 320px;
$xs-viewport: 375px;
$sm-viewport: 560px;
$md-viewport: 760px;
$lg-viewport: 960px;
$xl-viewport: 1280px;
$xxl-viewport: 1440px;

//
// Spacing
//

$spacer: 1rem;

//
// Colors
//

$color-bg-base: red;
$color-text-base: black;

//
//sizing
//

$width-content: 1000px;
